/* Helpers */
/* =================================
   COLORS
   ================================= */
/* =================================
   TYPOGRAPHY
   ================================= */
/* Base */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

html, body {
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  flex: 1 0 auto; }

/* Navigation settings */
ul {
  list-style-type: none;
  padding-left: 0; }

li {
  display: inline; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  border: none;
  background: transparent; }

figure {
  margin: 0; }

.no-scroll-y {
  overflow-y: hidden; }

.no-scroll-x {
  overflow-x: hidden; }

/* ===================
        TEXTS
=================== */
.title {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: 200; }

.text {
  font-family: 'Muli', sans-serif;
  font-size: .7em;
  line-height: 160%; }

@media (min-width: 576px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .main .hero .hero__image {
      width: 100%; }
    .main .recipe {
      top: -60px; }
      .main .recipe .container {
        margin-left: 80px; }
      .main .recipe button.btn {
        left: calc(0px - 30px);
        top: calc(0px + 100px); } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  overflow-x: hidden;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
details {
  display: block; }

summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
template {
  display: none; }

[hidden] {
  display: none; }

/* Components */
.btn {
  border: none;
  height: 60px;
  width: 60px;
  padding: 15px; }
  .btn i {
    color: #FFF;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .btn.btn--round {
    border-radius: 50%; }
  .btn.btn--secondary {
    background: #60d8b2;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(96, 216, 178, 0.58);
    -moz-box-shadow: 0px 10px 40px 0px rgba(96, 216, 178, 0.58);
    box-shadow: 0px 10px 40px 0px rgba(96, 216, 178, 0.58); }

/* Layout */
.footer {
  height: 50px;
  background: #60d8b2; }

.grid-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  grid-column-gap: 10px; }
  .grid-recipe h1 {
    grid-column-start: span 3; }

@media (min-width: 576px) {
  .grid-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px; }
    .grid-recipe h1 {
      grid-column-start: span 2; } }

header {
  height: 120px; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    header .navbar .logo {
      color: #FFF;
      font-size: 20px; }
    header .navbar .burger-menu {
      display: grid;
      grid-template-columns: repeat(2, 8px);
      grid-gap: 3px; }
      header .navbar .burger-menu .menu__round {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%; }
      header .navbar .burger-menu .menu__portrait {
        background-color: #FFF; }
        header .navbar .burger-menu .menu__portrait--secondary {
          background-color: #60d8b2; }

@media (min-width: 576px) {
  header .navbar .burger-menu .menu__round.menu__portrait {
    background-color: #14193c; } }

.hero {
  position: relative;
  top: -120px;
  z-index: -5; }
  .hero .hero__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; }
    .hero .hero__image::after {
      content: "\0020";
      display: block;
      height: 100%;
      background: linear-gradient(90deg, rgba(96, 216, 178, 0.504622) 0%, rgba(97, 99, 110, 0) 93%); }

.recipe {
  position: relative;
  width: 90%;
  top: -150px;
  background: #FFF; }
  .recipe .recipe__menu .grid-recipe i {
    margin-right: 10px; }
  .recipe .recipe__menu .grid-recipe h1 {
    margin: 20px 0 0 0; }
  .recipe .recipe__menu .grid-recipe p {
    margin: 10px 0; }
  .recipe .recipe__menu .btn--favori {
    position: absolute;
    right: -20px;
    top: 20px; }
  .recipe .recipe__details p {
    color: #8f8f8f;
    padding-left: 20px; }

/* Pages */
.hero .hero__image {
  background-image: url("../scss/assets/img/rum_sour.jpg"); }
