.grid-recipe{
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  grid-column-gap: 10px;
  h1{grid-column-start: span 3;}
}

// Media Queries
@media (min-width: 576px) {
  .grid-recipe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    h1{grid-column-start: span 2;}
  }
}