header{
  height: 120px;
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .logo{
      color: $white;
      font-size: 20px;
    }
    .burger-menu{
      display: grid;
      grid-template-columns: repeat(2, 8px);
      grid-gap: 3px;
      .menu__round{
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      .menu__portrait{
        background-color: $white;
        &--secondary {background-color: $secondary-color}
      }
    }
  }
}

// Media Queries
@media (min-width: 576px) {
  header{
    .navbar{
      .burger-menu{
        .menu__round{
          &.menu__portrait{
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
