.hero {
  position: relative;
  top: -120px; // Header's heigth is 120px
  z-index: -5;
  .hero__image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    &::after{
      content: "\0020";
      display: block;
      height: 100%;
      background:
              linear-gradient(90deg,
                      rgba(96,216,178,0.5046219171262255) 0%,
                      rgba(97,99,110,0) 93%);
    }
  }
}