.recipe{
  position: relative;
  width: 90%;
  top: -150px;
  background: $white;
  .recipe__menu{
    .grid-recipe{
      i{margin-right: 10px;}
      h1{margin: 20px 0 0 0;}
      p{margin: 10px 0;}
    }
    .btn--favori{
      position: absolute;
      right: -20px;
      top: 20px;
    }
  }
  .recipe__details{
    p{
      color: $grey;
      padding-left: 20px;
    }
  }
}