.btn{
  border: none;
  height: 60px;
  width: 60px;
  padding: 15px;
  i{
    color: $white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.btn--round{border-radius: 50%;}
  &.btn--secondary{
    background: $secondary-color;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(96,216,178,0.58);
    -moz-box-shadow: 0px 10px 40px 0px rgba(96,216,178,0.58);
    box-shadow: 0px 10px 40px 0px rgba(96,216,178,0.58);
  }
}

