html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // Here the choice to use overflow
  // and not overflow-x is for the exercise only.
  overflow: hidden;
}

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  flex: 1 0 auto;
}


/* Navigation settings */
ul {
  list-style-type: none;
  padding-left: 0;}
li{
  display: inline;
}

// Links
a {text-decoration: none;}
// Buttons
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
// Images
figure {margin: 0;}
// Scrollbar
.no-scroll-y{overflow-y: hidden;}
.no-scroll-x{overflow-x: hidden;}


/* ===================
        TEXTS
=================== */
.title {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  // Regular version is too bold
  // Light version isn't available on Google font
  font-weight: 200;
}
.text {
  font-family: 'Muli', sans-serif;
  font-size: .7em;
  line-height: 160%;
}


// Media Queries
@media (min-width: 576px) {
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .hero{
      .hero__image{
        width: 100%;
      }
    }
    .recipe{
      top: -60px;
      .container{margin-left: 80px;}
      button{
        &.btn {
          // 30px is the width of the button / 2
          // 60px/2 = 30px
          left: calc(0px - 30px);
          top: calc(0px + 100px);
        }
      }
    }
  }
}
