/* =================================
   COLORS
   ================================= */
$black: #000;
$white: #FFF;
$grey: #8f8f8f;

$primary-color: #14193c;
$secondary-color: #60d8b2;


/* =================================
   TYPOGRAPHY
   ================================= */
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Playfair Display', serif;
